<div class="pageContent row m-0 p-0">
  <div class="col-sm-6 col-md-2  col-xs-12 side-menu">
    <h3 style="margin-bottom: 20px;">Live Chat</h3>
    <div class="menu-item active-menu-item">
      All Conversations (05)
    </div>
    <div class="menu-item">
      Un Attended
    </div>
    <div class="menu-item">
      Team
    </div>
    <div class="menu-item menu-topic">
      Channels
    </div>
    <div class="menu-item">
      <img src="assets/img/instagram.jpg" alt="instagram">
      instagram
    </div>
    <div class="menu-item">
      <img src="assets/img/Telegram.png" alt="telegram">
      Telegram
    </div>
    <div class="menu-item">
      <img src="assets/img/whatsapp.svg" alt="whatsapp">
      Whatsapp
    </div>
  </div>
  <div class="col-sm-6 col-md-3 col-xs-12 chats-menu p-0">
    <div class="input-group-custom" style="padding: 20px">
      <i class="fa fa-search inside-input"></i>
      <input class="form-control border" type="text" placeholder="Search Live Chat">
    </div>
    <div class="chat-block">
      <img src="assets/img/person1.png" alt="person1">
      <p>Christina Joy<br>
        <span>Are you ready to get it free?</span></p>
    </div>
    <div class="chat-block active-chat">
      <img src="assets/img/person3.png" alt="person3">
      <p>Joy Philip Matew<br>
        <span>Are you ready to get it free?</span></p>
    </div>
    <div class="chat-block">
      <img src="assets/img/person2.png" alt="person2">
      <p>Ryu Hwa-young<br>
        <span>Are you ready to get it free?</span></p>
    </div>
    <div class="chat-block">
      <img src="assets/img/person4.png" alt="person4">
      <p>Christina Joy<br>
        <span>Are you ready to get it free?</span></p>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12 h-100 m-0" style="padding: 20px">
    <div class="chat-window h-100">
      <div class="chat-header">
        <div class="chat-block">
          <img src="assets/img/person3.png" alt="person3">
          <p>Joy Philip Matew<br>
            <span>Whatsapp Live Chat</span></p>
        </div>
        <div class="chat-control">
          <i class="fa-regular fa-circle-check"></i>
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>

      </div>
      <div class="chat-content">
        <div class="msg sent-msg">
          hello, Serena
        </div>
        <div class="received-msg-block">
          <div class="msg received-msg">
            Hi,<br>
            I'm exited that you're interested in learning more about marketing!<br>
            this 'How To Get New Leads' ebook will help you better understand now to denerate new leads for your
            business
          </div>
        </div>
        <div class="received-msg-block">
          <div class="msg received-msg">
            <img src="assets/img/chat-img.png">
          </div>
        </div>
        <div class="msg sent-msg">
          Yes, Lets Rock. I want the file anyway :)
        </div>
        <div class="msg sent-msg">
          better understand now to denerate new leads for your business
        </div>
        <div class="received-msg-block">
          <div class="msg received-msg">
            Great!<br>
            Enter your email below so we know where to send your eBook
          </div>
        </div>
      </div>
      <div class="message-area">
        <textarea placeholder="Type your message..."></textarea>
        <div class="chat-control" style="padding: 0 5px;">
          <i class="fa-solid fa-paperclip"></i>
          <i class="fa-regular fa-image"></i>
          <i class="fa-regular fa-face-smile"></i>
          <i class="fa-regular fa-paper-plane right-icon"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3 col-xs-12 h-100 p-0 m-0" style="padding: 20px 10px 20px 0 !important;">
    <div class="contact-window h-100">
      <div style="text-align: end;
    padding: 15px;font-size: 22px">
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="contact-info">
        <img src="assets/img/person3.png" alt="person3">
        <p>Joy Philip Matew<br>
          <span>Whatsapp Live Chat</span></p>
        <span class="custom-badge bg-success-color">Subscribed</span>
        <a>All Channel History</a>
      </div>
      <div class="contact-details">
        <div class="contact-details-line">
          <div class="contact-topic">Contact Time</div>
          <div class="contact-det">Unknown</div>
        </div>
        <div class="contact-details-line">
          <div class="contact-topic">ID</div>
          <div class="contact-det">358526625</div>
        </div>
        <div class="contact-details-line">
          <div class="contact-topic">Opted-in for</div>
          <div class="contact-det">whatsApp</div>
        </div>
        <div class="contact-details-line">
          <div class="contact-topic">Number</div>
          <div class="contact-det">201016050120</div>
        </div>
        <div class="contact-details-line">
          <div class="contact-topic">Opted-in for</div>
          <div class="contact-det">Instagram</div>
        </div>
        <img src="assets/img/instagram.jpg" width="15">
        <a class="instaLink">itsjoyphilip</a>
      </div>
      <div class="extra-details">
        <div class="contact-details-line">
          <div class="contact-det">Pause Automation<br>
            <span class="custom-badge bg-gray" style="font-size: 12px">Automatically</span></div>
          <div class="link">+30 Min</div>
        </div>
      </div>
      <div class="extra-details">
        <div class="contact-details-line">
          <div class="contact-det">Contact Tags
          </div>
          <div class="link">+ Add Tag</div>
        </div>
      </div>
      <div class="extra-details">
        <div class="contact-details-line">
          <div class="contact-det">Subscribed to Sequences</div>
          <div class="link">+ Add Tag</div>
        </div>
      </div>
      <div class="extra-details">
        <div class="contact-details-line">
          <div class="contact-det">Opted In through
          </div>
          <div class="link">Direct
          </div>
        </div>
      </div>
      <div class="extra-details">
        <div class="contact-details-line">
          <div class="contact-det">Custom Field
          </div>
          <div class="link">Manage Custom Fields
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
