<div class="sideBar">
  <img class="logo" src="assets/img/Logo.svg" width="110" alt="Logo"/>
  <nav class="nav-holder">
    <div class="nav-icons">
      <a routerLink="stat" routerLinkActive="active-nav-item"><i class="fa-solid fa-chart-simple"></i></a>
      <a routerLink="profile" routerLinkActive="active-nav-item"><i class="fa-regular fa-user"></i></a>
      <a routerLink="connection" routerLinkActive="active-nav-item"><i class="fa-solid fa-globe"></i></a>
      <a routerLink="chat" class="active-nav-item" routerLinkActive="active-nav-item"><i
        class="fa-regular fa-comments"></i></a>
      <a routerLink="dm" routerLinkActive="active-nav-item"><i class="fa-regular fa-paper-plane"></i></a>
      <a routerLink="signal" routerLinkActive="active-nav-item"><i class="fa-solid fa-signal"></i></a>
    </div>
    <div class="nav-icons">
      <a routerLink="signal" routerLinkActive="active-nav-item"><i class="fa-regular fa-circle-question"></i></a>
      <a routerLink="signal" routerLinkActive="active-nav-item"><i class="fa-solid fa-sliders"></i></a>
    </div>
  </nav>

</div>

<!--            //"outputPath": "dist/multi-chat",
-->
